<%- include('../partials/header') %>
<form action="/skills" method="POST">
    <input type="text" name="skill">
    <input type="text" name="desc">
    <button type="submit">add skill</button>
</form>
<%- include('../partials/footer') %>